.aside__title {
  font-style: bold;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -3%;
}

.aside__title-count {
  color: var(--gray2);
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.aside__desc {
  color: var(--gray2);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin: 16px 0 32px 0;
}

.aside__profile {
  margin: 0 0 48px 0;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.aside__profile-name {
  color: var(--orange);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin: 0 0 0 16px;
  text-decoration: underline;
}

.aside__menu {
  margin: 0 0 48px 0;
}

.aside__menu-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 0 24px 0;
}

.aside__menu-nav {
  font-size: 21px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.03em;
}

.aside__menu-link {
  color: var(--gray2);
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 0;
}

.aside__menu-active {
  color: var(--orange);
}

.aside__sharelink {
  background: var(--gray1);
  border-radius: 4px;
  color: var(--gray3);
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.aside__sharelink a {
  color: var(--white);
}

@media only screen and (max-width: 1270px) {
  .aside__title-count {
    display: block;
    margin: 16px 0;
  }
  .aside__sharelink {
    text-align: center;
  }
}

@media only screen and (max-width: 1120px) {
  .aside__title {
    font-size: 40px;
    line-height: 130%;
  }
}

@media only screen and (max-width: 960px) {
  .aside__title {
    font-size: 28px;
    line-height: 130%;
  }

  .aside__sharelink {
    font-size: 13px;
    line-height: 150%;
  }
  .aside__profile-name {
    font-size: 13px;
    line-height: 150%;
  }
  .aside__menu-nav {
    font-size: 14px;
    line-height: 150%;
  }
}

@media only screen and (max-width: 768px) {
  .aside__menu {
    margin: 0;
  }
  .aside__title {
    width: 100%;
    font-size: 24px;
  }
  .aside__desc {
    margin: 8px 0 0 0;
  }
  .aside__title-count {
    display: inline;
    margin: 0 8px;
  }
  .aside__profile {
    margin: 16px 0 0 0;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .aside__menu-desc,
  .aside__sharelink {
    display: none;
    overflow: hidden;
  }

  .aside__menu-nav {
    margin: 32px 0;
  }

  .aside__menu-link {
    background: var(--gray1);
    margin: 0 0 8px 0;
    padding: 16px;
  }

  .aside__menu-active {
    color: var(--white);
    border: 2px solid var(--orange);
    border-radius: 4px;
    font-weight: 700;
  }
}
