@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "fontawesome.css";
@import "reset.css";
@import "aside.css";
@import "content.css";
@import "modal.css";
@import "share.css";
:root {
  --black: #111111;
  --white: #ffffff;
  --orange: #ff3333;
  --yellow: #fff000;
  --gray1: #222222;
  --gray2: #666666;
  --gray3: #888888;
  --wrapper: 1240px;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--black);
  color: var(--white);
  margin: 80px 48px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 105px;
  grid-auto-flow: row;
  margin: 0 auto;
  max-width: var(--wrapper);
  width: 100%;
  justify-content: space-between;
}

@media only screen and (max-width: 1270px) {
  .wrapper {
    gap: 8%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin: 40px 32px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    margin: 0 auto;
    width: 100%;
  }
}
