.content__desc-link {
  color: var(--white);
}

.content__desc {
  border-radius: 4px;
  background: var(--orange);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding: 20px;
  text-align: center;
  margin: 48px 0 40px 0;
}

.content__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
  row-gap: 32px;
  flex-wrap: wrap;
}

.content__list-item {
  display: flex;
  flex-direction: column;
}

.content__list-item span {
  color: var(--yellow);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin: 8px 0 0 0;
}
