.aside__menu-mobile {
  display: none;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .aside__menu-mobile {
    margin: 24px 0 0 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 48px;
    width: 100%;
    background: #444;
    border: 1px solid;
    border-color: #111111 #0a0a0a black;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(
      top,
      transparent,
      rgba(0, 0, 0, 0.4)
    );
    background-image: -moz-linear-gradient(
      top,
      transparent,
      rgba(0, 0, 0, 0.4)
    );
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.4)
    );
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1),
      0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1),
      0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .aside__menu-mobile:before,
  .aside__menu-mobile:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 16px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
  }

  .aside__menu-mobile:before {
    border-bottom-style: solid;
    border-bottom-color: #aaa;
    border-top: none;
  }

  .aside__menu-mobile:after {
    margin-top: 8px;
    border-top-style: solid;
    border-top-color: #aaa;
    border-bottom: none;
  }

  .aside__menu-select {
    position: relative;
    margin: 0;
    padding: 0px 0px 0px 16px;
    height: 48px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #aaa;
    text-shadow: 0 1px var(--black);
    background: #444; /* Fallback for IE 8 */
    background: rgba(
      0,
      0,
      0,
      0
    ) !important; /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }

  .aside__menu-select:focus {
    z-index: 3;
    width: 100%;
    color: #ccc;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .aside__menu-select > option {
    margin: 3px;
    padding: 6px 8px;
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    cursor: pointer;
  }

  /* Fix for IE 8 putting the arrows behind the select element. */

  .lt-ie9 .aside__menu-mobile {
    z-index: 1;
  }

  .lt-ie9 .aside__menu-select {
    z-index: -1;
  }

  .lt-ie9 .aside__menu-select:focus {
    z-index: 3;
  }

  /* Dirty fix for Firefox adding padding where it shouldn't. */

  @-moz-document url-prefix() {
    .aside__menu-select {
      padding-left: 6px;
    }
  }

  .aside__menu-mobile-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
