---
layout: default
---

<script type="text/javascript">
    function filterUsingCategory(selectedCategory) {
        var id = 0;

        var itemSelected = document.getElementById(selectedCategory)
        var allItems = document.querySelectorAll(".aside__menu-list a")

        for (const item of allItems) {
            item.classList.remove("aside__menu-active");
        }

        itemSelected.classList.add("aside__menu-active");

        var selectTitleElem = document.querySelector(".content__title")
        var title = itemSelected.id

        if (selectTitleElem.textContent.length > 0) {
            selectTitleElem.innerHTML = ""
            selectTitleElem.append(title)
        } else {
            selectTitleElem.append(title)
        }

        {% for post in site.posts %}
        var cats = {{ post.categories | jsonify
    }}

    var postDiv = document.getElementById(++id);
    postDiv.style.display = (cats.includes(selectedCategory))
        ? 'unset'
        : 'none';
    {% endfor %}
    }
</script>

<aside>
    <div class="aside__header">
        <h2 class="aside__title">Livros que todo designer deve comprar <span class="aside__title-count"><i
                    class="fas fa-book"></i> {{ site.posts.size }} livros</span></h2>
        <p class="aside__desc">Curadoria de livros de design disponíveis na Amazon. Invista no seu
            conhecimento!
        </p>
    </div>
    <div class="aside__profile">
        <img src="assets/images/photo.png" alt="Image profile">
        <a href="#" class="aside__profile-link" target="_blank">
            <p class="aside__profile-name">Por @willianmatiola</p>
        </a>
    </div>

    <div class="aside__menu">
        <p class="aside__menu-desc"><strong>Temas</strong></p>
        <nav class="aside__menu-nav">
            <ul class="aside__menu-list">
                {% assign categories = site.categories | sort %}
                {% for category in categories %}
                {% assign cat = category | first %}
                <a id="{{ cat }}" onclick="filterUsingCategory(this.id)" class="aside__menu-link">
                    <li class="aside__menu-item">{{ cat }}</li>
                    <span class="aside__menu-itemcount">{{ category[1].size }}</span>
                </a>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="aside__sharelink">
        <span>
            😍 Compartilhe esse link: <a href="http://bit.ly/designlivros" target="_blank">bit.ly/designlivros</a>
        </span>
    </div>
    <div class="aside__sharelink-mobile">
        <i class="fas fa-share-alt"></i>
    </div>
</aside>

<section>

    <h1 class="content__title">{{ post.categories }}</h1>

    <a href="#" class="content__desc-link">
        <p class="content__desc">Clique aqui e sugira um livro enviando uma DM pra mim</p>
    </a>
    <ul class="content__list">
        {% assign id = 0 %}
        {% for post in site.posts %}
        {% assign id = id | plus:1 %}
        <div id="{{id}}">
            <a href="{{ post.buy }}" class="content__list-link" target="_blank">
                <li class="content__list-item">
                    <img src="{{ post.image }}" alt="{{ post.title }}" class="content__list-image">
                    <span>Comprar</span>
                </li>
            </a>
        </div>
        {% endfor %}
    </ul>


</section>